<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body>
      <div
      class="w-full bg-zinc-900 min-h-screen flex flex-col text-white justify-center items-center"
      >
      <div class="nav">
        <a href="/read" class="text-blue-500 hover:underline">Read Users</a>
      </div>
      <h1 class="font-bold text-xl ">Create User</h1>
      <form action="/create" method="POST" class="flex flex-col gap-4 p-8 rounded-md">
        <input
          type="text"
          name="name"
          placeholder="Enter your name"
          class="p-2 rounded-md border border-zinc-700 bg-zinc-800"
        />
        <input
          type="text"
          name="email"
          placeholder="Enter your email"
          class="p-2 rounded-md border border-zinc-700 bg-zinc-800"
        />
        <input
          type="text"
          name="image"
          placeholder="Image url"
          class="p-2 rounded-md border border-zinc-700 bg-zinc-800"
        />
        <input type="submit" value="Create user" class="p-2 rounded-md border border-zinc-700 bg-blue-800 cursor-pointer" />
      </form>
    </div>
  </body>
</html>
