<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />

    <title>Document</title>
  </head>
  <body class="bg-zinc-900 min-h-screen max-w-7xl mx-auto  text-white">
    <div class="nav">
        <a href="/" class="text-blue-500 hover:underline">Home</a>
      </div>
        <h1 class="font-bold text-xl">All Users</h1>
    <div class="w-full bg-zinc-900  flex  text-white gap-3 flex-wrap">
      <div class="user max-w-72 p-4 bg-zinc-800 rounded-md">
        <div class="w-full h-40 rounded-lg bg-red-500"></div>
        <h3 class="font-bold text-lg mt-2">John Doe</h3>
        <h5 class="text-gray-400">john.doe@example.com</h5>
        <div class="flex gap-3">
          <a href="" class="text-blue-500 hover:underline">Edit User</a>
          <a href="" class="text-red-500 hover:underline">Delete User</a>
        </div>
      </div>

      <div class="user max-w-72 p-4 bg-zinc-800 rounded-md">
        <div class="w-full h-40 rounded-lg bg-red-500"></div>
        <h3 class="font-bold text-lg mt-2">John Doe</h3>
        <h5 class="text-gray-400">john.doe@example.com</h5>
        <div class="flex gap-3">
          <a href="" class="text-blue-500 hover:underline">Edit User</a>
          <a href="" class="text-red-500 hover:underline">Delete User</a>
        </div>
      </div>

     



    </div>
  
  </body>
</html>
